@model mvc.Models.Student

<h1>Delete Student</h1>

<p>Are you sure you want to delete this student?</p>
<p><strong>Firstname:</strong> @Model.Firstname</p>
<p><strong>Lastname:</strong> @Model.Lastname</p>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Delete</button>
    <a asp-action="Index">Cancel</a>
</form>
