@model mvc.Models.Student

<h1>Student Details</h1>

<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Firstname:</strong> @Model.Firstname</p>
<p><strong>Lastname:</strong> @Model.Lastname</p>

<a asp-action="Index">Back to List</a>
