@model mvcTemplate.Models.Teacher

<h1>Ajouter un enseignant</h1>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Firstname" class="control-label"></label>
        <input asp-for="Firstname" class="form-control" />
        <span asp-validation-for="Firstname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Lastname" class="control-label"></label>
        <input asp-for="Lastname" class="form-control" />
        <span asp-validation-for="Lastname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PersonalWebSite" class="control-label"></label>
        <input asp-for="PersonalWebSite" class="form-control" />
        <span asp-validation-for="PersonalWebSite" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>
