@model mvcTemplate.Models.Teacher

<h1>Supprimer un enseignant</h1>
<p>Voulez-vous vraiment supprimer cet enseignant ?</p>
<ul>
    <li>Nom : @Model.Lastname</li>
    <li>Prénom : @Model.Firstname</li>
    <li>Email : @Model.Email</li>
</ul>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Confirmer</button>
    <a asp-action="Index" class="btn btn-secondary">Annuler</a>
</form>
