<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - My MVC App</title>
    <link rel="stylesheet" href="~/Views/Shared/_Layout.cshtml.css" />

</head>
<body>
    <header>
        <nav>
            <a href="/Teacher/Index">Teachers</a> |
            <a href="/Student/Index">Students</a>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>
</html>
